{
  "parser": "babel-eslint",
  "plugins": ["flowtype", "react-hooks"],
  "extends": "react-app",
  "rules": {
    "array-callback-return": "error",
    "default-case": "error",
    "no-unused-vars": [
      "error",
      {
        "args": "after-used",
        "vars": "all",
        "argsIgnorePattern": "^_",
        "ignoreRestSiblings": true
      }
    ],
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "no-useless-escape": "error",
    "jsx-a11y/alt-text": "off",
    "jsx-a11y/anchor-has-content": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "react/jsx-no-target-blank": "off",
    "react/jsx-no-duplicate-props": ["error", { "ignoreCase": false }],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error"
  }
}
